@import '_functions';
@import '_variables';

html, body {
	margin: 0px;
}

a {

}

.wrap {
	width: 100%;
	height: 100%;
}

.slider {
	width: 560px;
	height: 560px;
	margin: 0 auto;
	white-space: nowrap;
}

#container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

img, a {
	width: 100%;
	height: 100%;
}

li {
	position: relative;
	display: inline;
  	// left: 0;
  	right: 0;
	-webkit-transition:all ease-out 1s;
    -moz-transition:all ease-out 1s;
    -o-transition:all ease-out 1s;
    -ms-transition:all ease-out 1s;
    transition:all ease-out 1s;
}

li.right {
	right: 0;
}

li.left {
	left: 0;
}

ul {
	margin: 0px;
	padding: 0px;
}

.arrow {
	@include z-index(1000);

	cursor: pointer;
	font-size: 60pt;
	width: 70px;
	height: 70px;
	position: absolute;
}

.arrow.right {
	right: 0;
}
